node_modules/
coverage/
dist/
build/
*.d.ts
*.generated.*
*.snap
*.log
.DS_Store
.env
.env.*
!/.github
!/.vscode
!*.config.js
!*.config.ts
!jest-setup.js
/__mocks__/**
/__tests__/**
/android/
/ios/
/web-build/
*.json
*.md
*.graphql
*.gql
